/* FiraCode */
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Kylarzio */
@font-face {
  font-family: 'Kylarzio';
  src: url('/fonts/Kylarzio.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* DinkieBitmap */
@font-face {
  font-family: 'DinkieBitmap';
  src: url('/fonts/DinkieBitmap-9px.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinkieBitmap';
  src: url('/fonts/DinkieBitmap-9pxItalic.woff2') format("woff2");
  font-weight: normal;
  font-style: italic;
}